<div class="wrapper">

  <div class="left-panel">
    <img src="/css.jpg" alt="CampusAssist Logo" class="side-image">

    <div class="logo">CampusAssist</div>
    <h1>Complaint Monitoring System</h1>
    <p>Manage, track, and monitor student concerns efficiently.</p>
  </div>

  <div class="right-panel">
    <h2>Login</h2>

    <div class="input-group">
      <label>Username</label>
      <input 
        type="text" 
        placeholder="Enter your username"
        [(ngModel)]="username"
      />
    </div>
    <div class="input-group">
      <label>Password</label>

      <div class="password-wrapper">
        <input 
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Enter your password"
          [(ngModel)]="password"
        />

        <span class="eye-icon" (click)="togglePassword()">
          {{ passwordVisible ? '🙈' : '👁️' }}
        </span>
      </div>
    </div>

    <div class="options">
      <label>
        <input type="checkbox"> Remember me
      </label>
      <a href="#">Forgot password?</a>
    </div>

    <button class="login-btn" (click)="onLogin()">Login</button>
    <div class="success" *ngIf="message">{{ message }}</div>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>

</div>